NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_FIREBASE_WEB_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=student-assessment-2d869.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=student-assessment-2d869
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=student-assessment-2d869.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=789635710951
NEXT_PUBLIC_FIREBASE_APP_ID=1:789635710951:web:3d7622f55ef76620274742
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-1M6Z6J77TN

NEXT_PUBLIC_FIREBASE_DATA_CONNECT_SERVICE_ID=student-assessment
NEXT_PUBLIC_FIREBASE_DATA_CONNECT_LOCATION=northamerica-northeast1
NEXT_PUBLIC_FIREBASE_DATA_CONNECT_CONNECTOR_ID=student-assessment
