NEXT_PUBLIC_APP_ENV=test
NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_TEST_FIREBASE_WEB_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=student-assessment-test.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=student-assessment-test
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=student-assessment-test.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=767297965570
NEXT_PUBLIC_FIREBASE_APP_ID=1:767297965570:web:7413f47eade40e305b611b

NEXT_PUBLIC_FIREBASE_DATA_CONNECT_SERVICE_ID=student-assessment
NEXT_PUBLIC_FIREBASE_DATA_CONNECT_LOCATION=northamerica-northeast1
NEXT_PUBLIC_FIREBASE_DATA_CONNECT_CONNECTOR_ID=student-assessment
NEXT_PUBLIC_FIREBASE_FUNCTIONS_REGION=northamerica-northeast1
