AUTH_TYPE=UsernamePassword
DATABASE=(default)
DATABASE_REGION=northamerica-northeast1
DEFAULT_FROM=Student Evaluations <stevemackidd@gmail.com>
DEFAULT_REPLY_TO=stevemackidd@gmail.com
firebaseextensions.v1beta.function/location=northamerica-northeast1
MAIL_COLLECTION=mail
OAUTH_PORT=465
OAUTH_SECURE=true
SMTP_CONNECTION_URI=smtps://smtp.gmail.com:465
SMTP_PASSWORD=replace-with-gmail-app-password
TTL_EXPIRE_TYPE=never
TTL_EXPIRE_VALUE=1
USERS_COLLECTION=users
